<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication1.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication1.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsApplication1.AppSettings>
            <setting name="AccessToken" serializeAs="String">
                <value/>
            </setting>
        </WindowsFormsApplication1.AppSettings>
    </userSettings>
    <applicationSettings>
        <WindowsFormsApplication1.AppSettings>
            <setting name="Scope" serializeAs="String">
                <value>publish_stream</value>
            </setting>
            <setting name="AppID" serializeAs="String">
                <value>672140766189562</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>3c1b140eb85a941403d5b91bec89e526</value>
            </setting>
        </WindowsFormsApplication1.AppSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
